{{/*
  Tab Shortcode (used inside tabcontainer)
  Usage: {{< tab name="Bash" >}}code here{{< /tab >}}
*/}}
{{ $name := .Get "name" }}
{{ $tabs := .Parent.Scratch.Get "tabs" }}
{{ $index := len (default slice $tabs) }}
{{ .Parent.Scratch.Add "tabs" (slice (dict "name" $name "index" $index)) }}
<div
  class="tab-content{{ if eq $index 0 }} active{{ end }}"
  role="tabpanel"
  id="tabpanel-{{ $name | urlize }}-{{ $index }}"
  aria-labelledby="tab-{{ $name | urlize }}-{{ $index }}"
  {{ if gt $index 0 }}hidden{{ end }}
>
  {{ .Inner | markdownify }}
</div>
{{- /* Strip trailing newline */ -}}
